body {
  font-family: 'Roboto', sans-serif;
}
header {
  background: #111;
}
header nav ul {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  z-index: 1000;
}
header nav li a {
  display: block;
  color: #FFF;
  line-height: 3em;
  text-decoration: none;
  text-transform: lowercase;
  margin-left: 2.5rem;
  z-index: 1000;
}
header nav li a:hover, header nav li a:focus{
  color: #F8BEBA;
}
header nav li a.active{
  color: #F8BEBA;
  border-bottom: 1px solid white;
}
.logo {
  background-color: white;
  text-decoration: none;
  font-weight: 600;
  color: black;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 1.8em;
}
.logo:hover, .logo:focus {
  background-color: #F8BEBA;
}
header .content-wrapper {
  height: 80px;
}
.content-wrapper {
  max-width: 982px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 100;
  overflow: auto;
}
.home.content-wrapper {
  min-height: calc(100vh - 80px)
}
.white-bg {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
}
.name {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 3px;
  color: rgba(0,0,0,0.8);
  margin-bottom: 0px;
  
  z-index: 100;
}
.job-title {
  font-size: 3rem;
  text-transform: lowercase;
  margin-top: 0px;
}
.nickname-callout {
  font-weight: 400;
  color: rgba(0,0,0,1.0);
}
.description {
  text-transform: lowercase;
  color: rgba(0,0,0,0.7);
  font-size: 1.6rem;
}
.content-text {
  z-index: 100;
  padding-bottom: 50px;
  width: 100%;
}
#content {
  min-height: calc(100vh - 80px);
}
#content::after {
  content: '';
  background: url('../img/home-image.svg') no-repeat center;
  background-size: cover;
  opacity: 0.3;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 0;
}
.about-content {
  /* background: black; */
}
.section-title {
  margin: 5px;
  margin-top: 40px;
  /* color: white; */
}
.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.row.main {
  width: 100%;
  margin: 0 auto;
}
.skill {
  align-items: center;
  margin-bottom: 20px;
}
.col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.col-content {
  padding:20px;
}
.grid-title {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.grid-title.light {
  color: white;
}
.skillset.light {
  color: rgba(255,255,255, 0.7)
}
.design {
  background-color: rgba(248,190,186,0.9);
  margin: 5px;
}
.development {
  background-color: rgba(252, 176,64,0.9);
  margin: 5px;
}
.soft {
  background-color: rgba(43, 188, 165, 0.9);
  margin: 5px;
}
.hobbies {
  background-color:rgba(47,77,161,0.9);
  margin: 5px;
}
.skillset {
  font-size: 1.2rem;
  color: rgba(0,0,0,0.7);
  margin-right: 50px;
}
.row.dot-row {
  margin-left: auto;
}
.dot {
  height: 15px;
  width: 15px;
  background-color:rgba(0,0,0,0.3);
  border-radius: 50%;
  margin-left: 5px;
}
.dot.dark {
  background-color: black;
}

@media(max-width: 1000px) {
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row.main {
    flex-direction: column;
    justify-content: center;
  }
  .col {
    width: 100%;
  }
}
